<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
    {% endif %}
    {% block css %}
    <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
    {% endblock css %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <header>
    </header>
    <main>
      <header>
        <h1>Nathan Knowler</h1>
      </header>
      <nav>
      </nav>
    </main>
    <footer>
    </footer>
  </body>
</html>
